/*
    DEMO STYLE
*/


body {
    font-family: 'Poppins', sans-serif;
    background: white;
}
a {
    color: white;
    transition: all 0.3s;
}
a:hover {
    color: yellow;
    text-decoration: none;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 315px;
    max-width: 315px;
    background: #20313c;
    color: white;
    transition: all 0.3s;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active span, #sidebar.active img, #sidebar.active p, #sidebar.active h1 {
    display: none; !important;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a i {
    margin-right: 10px;
}
#content {
    min-height: 100vh;
    transition: all 0.3s;
}
#sidebarCollapse{
    width: 30px;
    background-color: #888787;
    /*writing-mode: tb-rl;*/
    height: 100%;
    text-align: center;
    cursor: pointer;
}
#sidebarCollapse i, #sidebarCollapse div{
    display: block;
    overflow-wrap: break-word;
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 79px;
    bottom: 50%;
    top: 50%;
}
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        display: block !important;
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebar img {
        display: none;
    }
    #sidebar.active h1, #sidebar.active p {
        font-size: 13px;
        margin-left: 0px !important; 
        display: block;
        overflow-wrap: break-word;
        /*size: 10px !important; */
    }
    #sidebar h1, #sidebar p {
        display: none;
    }
    #sidebar.active img {
        position: relative !important;
        display: block;
    }
    .dropdown-content .down {
        margin-left: -40px !important;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 15px;
    padding: 0;
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    margin: 20px;
    list-style-type: none;
}

.dropdown-content li a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown-content i {
    margin-top: -7px;
    position: absolute;
    margin-left: 70px;
    border: 1px solid #21313c;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 3px;

}

.dropdown-content span {
    margin-left: 15px;
}
.dropdown-content .down {
    margin-left: 70px !important;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown-content .right {
    margin-top: 8px !important;
    left: -77px !important;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
